#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 4px solid rgb(91, 48, 12);
    background-color: #365700;
    color: white;
}

#main-nav {
    margin-left: 50px;
}

#main-nav ul {
    display: flex;
    width: 200px;
    justify-content: space-around;
}

#main-title {
    font-size: 50px;
    font-family: 'Rye', cursive;
}

#socials {
    margin-right: 50px;
}

#socials ul {
    display: flex;
    width: 200px;
    justify-content: space-around;
}