.game-prompt input[type='button'] {
    height: 45px;
    width: 160px;
    color: white;
    outline: none;
    border-radius: 4px;
    background: #263e00;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Bangers', cursive;
    font-size: 2em;
    transition-duration: 0.3s;
    cursor: pointer;
}

.game-prompt input[type='button']:hover {
    height: 45px;
    width: 160px;
    color: white;
    background: rgb(91, 48, 12);
    margin-top: 10px;
    font-family: 'Bangers', cursive;
    font-size: 2em;
}

.game-start-form input[type="radio"] {
    display: none;
}

.radio-buttons label {
    font-family: 'Rye', cursive;
    font-size: 1.5em;
    color: rgb(52, 52, 52);
    height: 33%;
    text-align: left;
    vertical-align: center;
}

.radio-buttons label:hover {
    cursor: pointer;
    font-family: 'Rye', cursive;
    font-size: 1.9em;
    text-shadow: rgb(255, 225, 0) 1px 0 10px;
}

.radio-buttons input[type="radio"]:checked + label {
    cursor: pointer;
    font-family: 'Rye', cursive;
    font-size: 1.9em;
    color: red;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 120px;
}

