body {
    background-image: url("../../BigDuckHunter/assets/camo_background_2.jpg");
    background-size: 1500px;
}

#main {
    width: 1240px;
    height: 550px;
    margin: 0 auto;
    color: white;
    display: flex;
}

#canvas-container {
    position: relative;
    border: solid rgb(91, 48, 12) 4px;
    border-radius: 5px;
    padding: 10px;
    background-color: #365700;
    height: 550px;
    width: 1000px;
}


#canvas {
    // float: left;
    position: absolute;
    border: solid black 1px;
    background: white;
    background-image: url("../../BigDuckHunter/assets/landscape.jpg");
    background-size: 1200px;
    width: auto;
}






