body {
    background-image: url("../../BigDuckHunter/assets/camo_background.jpg");
    background-size: 1500px;
}

#main {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    border: solid black 1px;
    padding: 10px;
    background-color: #333D29;
    color: white;
}


#canvas {
    float: left;
    border: solid black 1px;
    background: white;
    background-image: url("../../BigDuckHunter/assets/landscape.jpg");
    background-size: 1200px;
    width: auto;
}

#sidebar {
    float: right;
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 500px;
    margin: 2px;
    font-family: 'Paytone One', sans-serif;
    font-size: 1.5em;
}

#timer {
    height: 100px;
}

#difficulty {
    height: 150px;
}

#instructions {
    height: 250px;
}