body {
    background-image: url("../../BigDuckHunter/assets/camo_background_2.jpg");
    background-size: 1500px;
}

#main {
    width: 1240px;
    height: 550px;
    margin: 0 auto;
    color: white;
    display: flex;
}

#canvas-container {
    border: solid rgb(91, 48, 12) 3px;
    border-radius: 5px;
    padding: 10px;
    background-color: #365700;
    height: 550px;
    width: 1000px;
}


#canvas {
    float: left;
    border: solid black 1px;
    background: white;
    background-image: url("../../BigDuckHunter/assets/landscape.jpg");
    background-size: 1200px;
    width: auto;
}

#sidebar {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 178px;
    height: 576px;
    margin: 0 2px;
    padding: 0px;
    // font-family: 'Paytone One', sans-serif;
}



#sidebar div {
    border: solid rgb(91, 48, 12) 3px;
    border-radius: 5px;
    padding: 10px;
    background-color: #365700;
}

#sidebar div h3 {
    font-family: 'Bangers', cursive;
    font-size: 2em;
}

#timer {
    height: 70px;
}

#score {
    height: 70px;
}

#difficulty {
    height: 70px;
}

#instructions {
    height: 250px;
}