#sidebar {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 178px;
    height: 578px;
    margin: 0 2px;
    padding: 0px;
}

#sidebar div {
    border: solid rgb(91, 48, 12) 4px;
    border-radius: 5px;
    padding: 10px;
    background-color: #365700;
}

#sidebar div h3 {
    font-family: 'Bangers', cursive;
    font-size: 2em;
}

#timer {
    height: 65px;
}

#score {
    height: 65px;
}

#difficulty {
    height: 65px;
}

#instructions {
    height: 265px;
}

.big-letters {
    font-family: 'Rye', cursive;
    font-size: 2.5em;
    color: red;
}

#keys-img {
    margin: 5px 0;
}

#instructions div {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    margin: 0;
    padding: 3px;
    font-size: 0.8em;
}

.spacebar-image {
    border: white 1px solid;
    border-radius: 2px;
    align-items: center;
}

#spacebar-image-sidebar {
    height: 15px;
    margin: 5px;
    width: 80px;
}

#spacebar-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-underneath {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(91, 48, 12);
}

#instruction-img {
    margin: 5px 0;
}

#difficulty-display {
    font-size: 2em;
}