#sidebar {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 178px;
    height: 576px;
    margin: 0 2px;
    padding: 0px;
}

#sidebar div {
    border: solid rgb(91, 48, 12) 3px;
    border-radius: 5px;
    padding: 10px;
    background-color: #365700;
}

#sidebar div h3 {
    font-family: 'Bangers', cursive;
    font-size: 2em;
}

#timer {
    height: 70px;
}

#score {
    height: 70px;
}

#difficulty {
    height: 70px;
}

#instructions {
    height: 250px;
}

.big-letters {
    font-family: 'Rye', cursive;
    font-size: 2.5em;
    color: red;
}